[2019-02-16 06:39] Bhupesh-V opened #31 "Add new functions in different .md files"
Add functions which belong to a particular header file in its corresponding _.md_ file.
For example
**std::sort belongs to <algorithm>**, shift this to _algorithm.md_ while maintaining the [CONTIBUTING](https://github.com/Bhupesh-V/30-Seconds-Of-STL/blob/master/CONTRIBUTING.md) guidelines and formats.

[2019-04-10 15:47] Bhupesh-V opened #36 "Add Run Code Links in existing code snippets"
Add Runnable links of the code below the example.
Use link name [Run Code]() which links to a Online C++ complier conatining the example code.
Use **_Rextester_** as the Online C++ Compiler (If you have a better suggesstion please comment).

1. Go to [Rextester](https://rextester.com/l/cpp_online_compiler_gcc)
2. Copy or write the example code.
3. Run the code (hit F8) , see if you face any proble

[2019-04-11 04:56] sdmg15 commented on #36
Yes I think it's good.
 And I think the fact that  you want to create a separate file for each code snippet is not that too good. I think it's better to have all in on place + run-able  code link.

[2019-04-11 05:23] Bhupesh-V commented on #36
I guess using `std::` would be rather safe than `using namespace std;` what do you suggest ?

[2019-04-11 05:26] Bhupesh-V commented on #36
Yeah you are right , I would remove the extra directories of different headers

[2019-04-11 15:11] Bhupesh-V opened #37 "setup gh-pages branch for website"

[2019-04-11 18:45] sdmg15 commented on #36
Yes I suggest putting `std::`

[2019-04-19 06:52] Bhupesh-V opened #38 "develop weekly newsletter"
### Develop a weekly newsletter for sending random code snippets to subscribers.

[2019-05-06 04:54] Bhupesh-V opened #44 "Automate building of readme files"
I am currently working on a python script which can help to build readme files automatically.
It can be applied as a `git hook`.
But it would be nice if we build a C++ code instead to build readme(s)

[2019-05-15 14:09] willdarnell commented on #31
are you saying you want the sort in sort.md moved to algorithm.md?

[2019-06-09 09:29] Bhupesh-V commented on #44
I have made a sample Python script to automate this task .
See the file [here](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/update_readme.py)
Any suggestions are welcome :smile:

[2019-06-26 03:42] manav1234 commented on #38
i can help i am new but i will understand the code base and can then compose the letter because i used to this a lot in high school.  Assign me and you will not be dissappointed

[2019-06-26 03:43] manav1234 commented on #38
and also just let me know how to post the letter here

[2019-06-26 08:28] Bhupesh-V commented on #38
Hi @manav1234 thanks for your interest
I think we could use service like MailChimp to send weekly emails.
We could agree on a Newsletter Template & whosoever wants to write one could raise an issue.

What do you think ?

[2019-06-26 08:34] manav1234 commented on #38
sure sir let me know because my vacations will be going on and I am
extremely free
so if I want to write one can I create an issue and will I have to write
one every week or will I have to write the code to automate it

On Wed, Jun 26, 2019, 1:58 PM Bhupesh Varshney <notifications@github.com>
wrote:

[2019-06-26 08:35] manav1234 commented on #38
sorry wanted to say vacations are going on

On Wed, Jun 26, 2019, 2:04 PM Manav Sethi <spacegenius1234@gmail.com> wrote:

[2019-06-27 05:20] manav1234 commented on #38
wanted to know if we had any funds to use a paid email service  for  the newsletter;

[2019-06-28 07:09] Bhupesh-V commented on #38
I guess we don't need any funding for sending weekly newsletters.
MailChimp is a free service.

I will get back to you soon once i design the structure of the newsletter

[2019-06-29 08:42] manav1234 commented on #38
surely sir will be waiting for it
also sir if its cleared please merge my prs

[2019-07-02 08:38] manav1234 opened #89 "Suggestion/Feedback"
[template 1.pdf](https://github.com/Bhupesh-V/30-seconds-of-cpp/files/3349111/template.1.pdf)
how is this for a template for the newsletter ?

[2019-07-06 21:15] MiloATH opened #92 "Bug for_each_n incorrect comment"
**Describe the bug**
In algorithm/for_each_n.md, there is a comment `// Will output, 3 2 3 9` which is incorrect. This program will print out "3 2 ".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to algorithm/for_each_n.md
4. See error

**Expected behavior**
Comment should read: `// Will output, "3 2 "`

**Compiler (please complete the following information):**
 - OS: MacOS
 - Compiler

[2019-07-07 07:55] Bhupesh-V commented on #92
Hey @MiloATH can you provide screenshots of the same
I am having issues with my C++ version
I guess the code is working fine on LLVM

[2019-07-07 08:43] MiloATH commented on #92
<img width="485" alt="Screen Shot " src="https://user-images.githubusercontent.com/12666146/60766050-8b87a680-a058-11e9-83ff-f5b7c2071c37.png">

[2019-07-07 09:31] #92 closed

[2019-07-10 23:07] bermani opened #97 "Bug: The links in the README.md pages for each header file folder don't work"
**Describe the bug**
All of the links in the README files in each of the header file folders are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [algorithm](https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/algorithm), [list](https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/list) or any of the other header file folders.
2. View contents and try to click on an

[2019-07-11 02:25] dantedallag commented on #31
Is this issue solved? If not, I could try to do it.

[2019-07-11 06:08] Bhupesh-V commented on #97
Hey @bermani actually the README(s) in different folders are just present to keep a record of all the functions/methods which are yet to be implemented in _30C++_.
They currently do not have any purpose.

[2019-07-11 14:13] Bhupesh-V commented on #31
@dantedallag this issue always remains open to help contributors .

[2019-07-11 21:16] bermani commented on #97
Oh ok I see, maybe those READMEs can list which functions are implemented and which ones are not implemented yet? And the ones that are already implemented can have links? I can work on the update_readme.py script to update the READMEs and submit a PR if that's a design choice you want to make, or this issue can just be closed if you want to leave them as is.

[2019-07-12 05:38] Bhupesh-V commented on #97
Yeah that's a good idea
we could use emojis (:heavy_check_mark:  :x:  )to indicate which of them are implemented or not.
If you want you can work on that :+1:

[2019-07-15 10:50] sdmg15 opened #99 "For loop efficiency"
Hello,
We should prefer pre-incrementation (++i, --i )  over post-incrementation ( i++, i-- ) in traditional for loop, until they will make a difference in the result. Pre-incrementation is actually more efficient than post-incrementation as in the post incrementation will need addition copy of the data.

[2019-07-15 10:55] manav1234 commented on #99
ya sir completely agree with you

[2019-07-16 07:06] #97 closed

[2019-07-16 07:10] #44 closed

[2019-07-16 07:10] #37 closed

[2019-07-16 07:13] Bhupesh-V commented on #99
@sdmg15 yes that's true I will add this in the [CONTRIBUTING](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/CONTRIBUTING.md) guidelines. :+1:

[2019-07-16 07:20] #99 closed

[2019-09-01 21:14] thamara opened #110 "Standardize use of std::"
Based on the discussions on issue #36, I'm suggesting that all STL methods/types are prefixed with ```std::```. This should also be reflected in [CONTRIBUTING.md](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/CONTRIBUTING.md).

[2019-09-02 13:49] #110 closed

[2019-09-14 15:57] HarshitNITT commented on #31
Can I contribute to this issue?

[2019-09-15 06:08] Bhupesh-V commented on #31
Yes you can, just see the unimplemented functions in the `todo.txt` files inside different directories

[2019-09-17 17:18] harshraj22 opened #119 "Add std set"
Set is one of the most commonly used container in CPP. I would like to add some of the functions of this container. @Bhupesh-V

[2019-09-18 13:38] Bhupesh-V commented on #119
hey, you can add `set` methods now

[2019-09-18 15:37] #119 closed

[2019-09-18 15:40] harshraj22 opened #120 "Add size method of std set"
Adding size method of std set.

[2019-09-20 07:18] #120 closed

[2019-09-26 11:28] saisriram2710 commented on #31
Hi, I am new to open source in general, and I would like to contribute as a beginner.
I have a few doubts:
1) How can I differentiate which functions are unimplemented in the `README.md` file?
2) I also want to make sure if the process of contributing that I understand is right or not: At the time of writing this, the pop_back() function is not yet implemented yet. So is this what I do - I write a

[2019-09-26 13:21] saisriram2710 commented on #31
Hi, just an update:
1. I made `pop_back.cpp` in `snippet/vector`. I also wrote the corresponding `.md` file in `vector` directory, in which I pasted the link to run the code on rextester. Is this enough? Is submitting a PR the job left to do or anything missing?

[2019-09-28 22:04] harshraj22 opened #125 "add std::set.begin( )"
I would like to add std::set.begin( ) [here](https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/set)

[2019-09-28 22:05] harshraj22 opened #126 "add std::set.end( )"
I would like to add set.end( ) [here](https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/set)

[2019-09-28 22:06] harshraj22 opened #127 "std ::set.empty( )"
Adding std::set.empty( )

[2019-09-28 22:07] harshraj22 opened #128 "std::set.insert( )"
Adding std::set.insert( )

[2019-10-01 08:31] Hyperion101010 opened #144 "set::contains( )"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Compiler (please complete the follow

[2019-10-01 08:32] Hyperion101010 commented on #144
I am adding some new features. following up from https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/set.

[2019-10-01 09:05] Hyperion101010 commented on #144
@admin review and add my changes.

[2019-10-01 09:25] Hyperion101010 opened #146 "set::emplace( )"
I added and tested this function on ideone. admin please review it.

[2019-10-01 13:24] #127 closed

[2019-10-01 13:30] #128 closed

[2019-10-01 23:00] vsin12 commented on #36
Are any of these tasks still available ? I am new to open-source and would like to start contributing.
I see that this issue is open, but I do not see any run-code links missing.

[2019-10-02 06:56] Bhupesh-V opened #166 "make a GitHub Action"
Currently I have to run `update_readme.py` for updating the contents of  README after a PR is merged.
We need to automate running of this script.
2 solutions can be:
- Using Webhooks
- GitHub Actions

I think using actions would be a wise choice

[2019-10-02 10:04] #126 closed

[2019-10-02 16:48] Anshuvats opened #178 "__builtin_popcount() for Algorithm"
In GCC, we can directly count set bits using __builtin_popcount(). So we can avoid a separate function for counting set bits.

[2019-10-02 17:33] #178 closed

[2019-10-03 03:36] sumanismcse commented on #166
Can i work on this issue ?

[2019-10-03 22:22] Blahblahblahsomething commented on #36
Is this issue still open?

[2019-10-04 06:34] Bhupesh-V commented on #36
@vsin12 @Blahblahblahsomething you can contribute sample code and give a PR in the snippets directory.
see some examples on how to add sample code

[2019-10-04 06:35] Bhupesh-V commented on #31
@saisriram2710 you are right

[2019-10-04 18:57] TechnoGuy0306 commented on #166
can i help??

[2019-10-04 19:16] Blahblahblahsomething commented on #36
Thank you.

[2019-10-05 02:20] cherryWood55 commented on #89
Well, it's great! I think changing the fonts to https://fonts.google.com/specimen/Dosis or https://fonts.google.com/specimen/Dancing+Script could look better. You could also place the name of the person who made the highest number of quality contributions under a label 'Star of the Week'. This would encourage more people to contribute towards the development of this project.

[2019-10-05 10:42] giorgosgiapis opened #216 "Suggestion/Feedback"
How about adding time complexity to the methods presented?

[2019-10-06 09:52] Harshwp commented on #36
Is this issue still open? I would like to contribute

[2019-10-09 13:24] agrawalsajal02 commented on #31
Can i contribute to this issue ?

[2019-10-10 18:38] akhilkh2000 commented on #36
Is this issue still open?

[2019-10-11 01:57] sakibmahmud commented on #31
Hi, I want to contribute to this issue. Where do i start?

[2019-10-13 06:29] Sid200026 opened #292 "Reversing a stack using another stack."
The repo doesn't contain any code for reversing a stack. The same has been added in the pull request.
GH-233

[2019-10-13 11:29] kunal164107 commented on #216
Yeah, it's a good point.

[2019-10-14 10:10] adigeak opened #300 "search implementation in c++"
What to implement search as it is in the todo list.
Assign it to me if nobody is working.
#Hacktoberfest

[2019-10-17 18:13] gafeol opened #324 "Missing reference to the implementation of set:lower_bound"
Although the explanation for lower_bound (for a set) was added to the repository, no references for it were added.

**To Reproduce**
Accessing the main README file:
<img width="266" alt="image" src="https://user-images.githubusercontent.com/12179028/67035522-19743280-f11a-11e9-8d5f-3a06d4308f4b.png">

README from "set" folder:
<img width="342" alt="image" src="https://user-images.githubusercontent

[2019-10-18 02:20] Ranner198 commented on #300
Looking for any particular search algorithm? is it for demo purposes or something for searching in the webpage or etc?

[2019-10-18 02:35] Ranner198 commented on #292
Do you have a preference if it should be recursive or not?

[2019-10-18 06:32] Sid200026 commented on #292
In my PR, I have reversed it without recursion.

[2019-10-18 06:56] adigeak commented on #300
i wanna to apply linear  and fibonacci search in a array

[2019-10-18 07:26] adigeak commented on #300
refer to my pr #301

[2019-10-19 13:49] underscoreanuj opened #338 "Suggestion/Feedback"
String class and its corresponding methods should also be included.

[2019-10-20 11:35] ranaakash commented on #292
Hi @Sid200026
Is this issue still open ?
I can contribute then..

[2019-10-21 02:46] satcasm commented on #31
can i contribute to this issue??

[2019-10-22 02:12] thamara opened #360 "README has incorrect link name"
On README, the link name for the `equal_range.md` is incorrect:

[code]

[2019-10-23 06:28] Abhishek-kumar09 opened #371 "The slack-join link has expired in Readme.md"
The Slack join Link has expired and no more working for the newbies to join the team.

[2019-10-24 07:43] Bhupesh-V commented on #371
@Abhishek-kumar09 Thanks for informing I will update this.
Till than you can join our Discord Server :smile:

[2019-10-24 07:46] Bhupesh-V commented on #338
@underscoreanuj good idea ,I will update this soon

[2019-10-24 20:48] malhotravasu opened #384 "Support for map and unordered_set"
They are pretty common STL Data Structures and quite useful for certain scenarios.

[2019-10-25 18:43] harshraj22 opened #398 "Include other concepts of c++"
The repo serves a fantastic guide to introduce new comers with the standard library of c++. It would be even great if we could add other lesser known( or used ) features of c++ here.
* Suggestions:
   * [ ] Object Oriented Programming (not only inheritance, but also interesting topics like method chaining and [this pointer](https://www.learncpp.com/cpp-tutorial/8-8-the-hidden-this-pointer/))
   *

[2019-10-27 11:24] Delta456 commented on #398
I don't think that this is the aim of the repo.

[2019-11-01 03:45] UberschallSamsara commented on #360
Fixed in PR #439.

[2019-11-02 13:09] Bhupesh-V commented on #398
@harshraj22 meanwhile as @Delta456 said it not the aim of repo for "now".
But we will soon plan out to include things you said, you can join the discord server for suggesting anything new.
Meanwhile I will open an issue thread where everyone can suggest Advanced C++ topics :fire:

[2019-11-06 06:02] Bhupesh-V opened #441 "New Additions - 30C++ 2.0"
Soon we will be implementing/explaining new C++ features. Some of them are included below, you can comment out your suggestions or chat with us on our [Discord](https://discord.gg/KAD3JZq) Server for more info.

[2019-11-06 06:10] Bhupesh-V commented on #441
1. constexpr (C++ 20)
2. `reinterpret_cast` (C++ 20)
3. `std::invoke`
4. `std::bind_front`
5. Spaceship Operator <=> (C++ 20)
6. `is_constant_evaluated` (C++ 20)
7. Lambdas
8. `std::to_pointer` (C++ 20)
9. noexecpt
10. `std::regex`
11. `std::string_view`
12. `std::gcd and std::lcm`
13. `std::fmin`, `std::quoted`, `std::future`
14. static_print
15. `std::variant` & `std::optional`

[2019-11-06 08:59] Delta456 commented on #441
Also consider adding all 11, 14 and 17 features as well (expect the stl).

[2019-11-06 17:55] harshraj22 commented on #441
*My Suggestions:
   * [ ] Object Oriented Programming (not only inheritance, but also interesting topics like method chaining and [this pointer](https://www.learncpp.com/cpp-tutorial/8-8-the-hidden-this-pointer/))
   * [ ] Templates and variadic templates ( quite interesting ) and discussion about issues ( dos and donts ) with using templates with Classes
   * [ ] Lambda functions
<h4> And more su

[2019-11-06 18:21] #125 closed

[2019-11-08 11:00] #398 closed

[2019-11-09 14:08] Bhupesh-V commented on #324
All the updates are done automatically (this is stated in Contributing Guidelines too)
I will fix this personally after reviewing the PRs

[2019-11-09 14:08] #324 closed

[2019-11-11 08:04] #300 closed

[2019-11-11 08:05] #292 closed

[2019-11-12 13:37] ariella879 opened #443 "Spelling and grammar mistakes"
There are spelling and grammar mistakes in vector.md (https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/vector/vector.md). I will work on them!

[2019-11-12 14:04] ariella879 commented on #443
I submitted a PR but it says that build has failed? Could you please look it over? I did not add any code. Thank you for your time.

[2019-11-13 07:58] #360 closed

[2019-11-13 07:59] #443 closed

[2019-11-13 07:59] #144 closed

[2019-11-13 08:00] #146 closed

[2019-11-13 08:29] Bhupesh-V commented on #338
Closing this, since this is being added in #441

[2019-11-13 08:29] #338 closed

[2019-11-13 08:30] #371 closed

[2019-11-13 08:31] Bhupesh-V commented on #384
Closing this, since it has been added in #441

[2019-11-13 08:31] #384 closed

[2019-11-14 19:02] rajsukanya opened #445 "Grammar mistakes"
I found some grammar mistakes in [insert.md](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/unordered_map/insert.md). I would like to work on this.

[2019-11-15 05:24] Bhupesh-V commented on #445
All yours @rajsukanya

[2019-11-17 20:10] rajsukanya commented on #445
Thank you!

[2019-11-18 18:23] ariella879 opened #448 "Suggestion/Feedback"
Hello. I noticed that for unordered_map there is no method called "count." Could I work on and be assigned this issue? Thank you.

[2019-11-21 19:19] Nerouse opened #451 "Current build failing due to make file"
**Describe the bug**
The current build for this repository is failing because of the command "-std=c++2a " found in the make files. I believe that this c++ version is not supported yet by Travis CI.

This is the [makefile for set](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/snippets/set/Makefile) and the other makefiles yield a similar result

**Screenshots**
![Screen Shot 2019-11-2

[2019-11-25 19:26] rajsukanya opened #452 "Suggestion/Feedback"
Can I work on implementing the reverse_copy method for algorithm? Please confirm.
In the meanwhile, I am going to start

[2019-11-28 05:42] Bhupesh-V commented on #452
sure @rajsukanya :+1:

[2019-11-28 05:44] Bhupesh-V commented on #451
Yes @Nerouse would you like to work on this ?

[2019-11-28 05:49] Bhupesh-V commented on #448
Sure @ariella879 go ahead :+1:

[2019-11-28 05:51] #445 closed

[2019-11-29 22:49] Nerouse commented on #451
Yes I can work on this

[2019-11-30 07:42] Bhupesh-V commented on #451
sure @Nerouse :+1:

[2019-12-02 18:27] hjiang4332 opened #455 "Max_size method for list Suggestion/Feedback"
I would like to work on the max_size method for lists.

[2019-12-02 20:03] Nerouse commented on #451
I changed the make files in the snippets sections so it runs on c++17 now and there was an error inside snippets/stack/pop.cpp and it is fixed now

[2019-12-18 06:36] Bhupesh-V commented on #455
All yours @hjiang4332

[2020-01-05 18:05] kbodurri commented on #451
@Bhupesh-V @Nerouse, any updates on fixing c++2a bug? I am asking because I tried to PR but still got the same error from TRAVIS CI.

[2020-01-12 08:39] weekly-digest[bot] opened #468 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #467 [Explaining the fill_n function](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/467), by [kbodurri](https://github.com/kbodurri)
:gr

[2020-01-19 03:45] weekly-digest[bot] opened #471 "Weekly Digest (12 January, 2020 - 19 January, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #470 [max_size.cpp](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/470), by [Cybertron-Avneesh](https://github.com/Cybertron-Avneesh)
:gr

[2020-01-26 03:45] weekly-digest[bot] opened #472 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-01-26 13:36] #472 closed

[2020-01-26 13:36] #468 closed

[2020-01-26 13:37] #471 closed

[2020-02-02 03:45] weekly-digest[bot] opened #473 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-02-02 10:36] #473 closed

[2020-02-09 01:44] weekly-digest[bot] opened #475 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #474 [contains.md](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/474), by [EmmaINSA](https://github.com/EmmaINSA)
## NOISY ISSUE
:speaker: #474 [contains.md](https://github.com/Bhupesh-

[2020-02-10 14:29] #475 closed

[2020-02-16 01:44] weekly-digest[bot] opened #476 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-02-17 08:59] #476 closed

[2020-02-23 01:44] weekly-digest[bot] opened #478 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #477 [adding inner_product](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/477), by [bunnysamurai](https://github.com/bunnysamurai)

 - - -
# PULL REQUESTS
Last week, 7 pull requests wer

[2020-03-01 01:44] weekly-digest[bot] opened #479 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-03-17 13:01] juraev opened #482 "<random>"
I would like to work with <random> library.

[2020-04-18 09:25] naman2001 commented on #89
It's nice. But the color of organization name (in the heading) should contrast with background color like tag line below it. Font size should be increased of organization name.

[2020-04-20 16:11] Shiv-sharma-111 opened #483 "Priority queues is missing"
We can implement max heap, min-heap. It is used whenever we wish efficiently find the minimum or maximum element.
Can I add this algo?

[2020-04-22 07:35] Shiv-sharma-111 opened #486 "Suggestion/Feedback"

[2020-04-22 07:35] #486 closed

[2020-04-22 07:36] Shiv-sharma-111 commented on #486
wrong action

[2020-04-22 07:41] Shiv-sharma-111 opened #487 "std::set does not have a member function "contains"."
[for reference](https://stackoverflow.com/questions/42532550/why-does-stdset-not-have-a-contains-member-function)

[2020-05-08 10:28] hbinderup94 commented on #487
It does since C++20:
https://en.cppreference.com/w/cpp/container/set/contains

Your reference is 3 years old and now have an updated response: https://stackoverflow.com/a/61430051

[2020-05-09 17:43] coderanant opened #489 "Suggestion/Feedback"
Add Time Complexities of all methods for all functions / algorithms.

[2020-05-09 17:45] coderanant commented on #489
I would like to take up work of adding Time Complexities in all methods of vector as of now.

[2020-05-12 07:19] #487 closed

[2020-05-13 13:22] ashwani-rathee commented on #36
Is this issue still open?

[2020-05-15 14:43] Bhupesh-V commented on #36
Yes

[2020-05-21 15:18] Bhupesh-V opened #490 "Looking for Maintainer/Collaborator"
I have been maintaining this project for a long time now and I think I am not able respond quickly to new PRs thus driving away future contributors.

If you have already contributed to 30 Seconds of C++ before feel free to comment below, if you are willing to be a potential maintainer and collaborator.

[2020-05-21 15:23] Delta456 commented on #490
I can help

[2020-05-24 06:47] insaaniManav commented on #490
Hey bhupesh this is Manav sethi from ilugd I can also help in maintaining

[2020-05-25 09:11] Bhupesh-V commented on #490
Thanks for reaching out guys :fire: , I will be deciding this in a few days

[2020-05-29 21:33] YersiniaP commented on #489
Hello there. I would like to work on adding the Time Complexities for all of the methods in the <algorithm> section.

[2020-05-30 17:13] marcinky commented on #36
Hi! It looks like this issue is still open. I'm a newbie who would like to contribute.

[2020-05-31 14:51] marcinky commented on #31
Hello! I would like to contribute to this issue. I have reviewed the CONTRIBUTING.md, looked at the Projects, and referenced the Kanban for each directory type. I would like to work on "pop_back" under Vector. If successful, this will be my very first Open Source contribution :)
Thank you @Bhupesh-V for making this opportunity available. So far, the instructions have been very complete and helpful

[2020-05-31 15:57] Bhupesh-V commented on #31
@marcinky looks like `pop_back` is already implemented and only `crend` is available to contribute.
Don't worry just head over to specific directories like [list](https://github.com/Bhupesh-V/30-seconds-of-cpp/tree/master/list) where pop_back has not been implemented yet (see :heavy_check_mark: and :x:  marks)
Go ahead and implement it and welcome to opensource :hugs:

[2020-05-31 16:18] marcinky commented on #31
Ok will do @Bhupesh-V  - thank you! I'll take another look.

[2020-06-01 05:42] YersiniaP commented on #36
Hello there, I am also new to OS and would like to contribute to this project. As per the instructions, I will get the example code to run using Rextester and paste the permanent link below the snippet before submitting a PR.

[2020-06-02 06:22] Bhupesh-V commented on #490
Thanks @Delta456 and @insaaniManav for reaching out. For now I have added @Delta456 as a maintainer.
@insaaniManav please be in touch, we will require more collaborators during programs like hacktoberfest. Meanwhile make sure you join the Discord server

[2020-06-02 06:22] #490 closed

[2020-06-02 06:23] insaaniManav commented on #490
Sure thanks @bhupeshv :D

[2020-06-02 06:24] #478 closed

[2020-06-02 06:25] #479 closed

[2020-06-02 07:37] Delta456 commented on #482
Hey @juraev! Thanks for working with us! Please do a PR when you are done with your progress!

[2020-06-02 16:14] Delta456 commented on #441
@Bhupesh-V I propose on using modules and ranges when C++ 20 comes and remove header files.

[2020-06-12 17:53] Alka-git12 commented on #36
May I work on this project?

[2020-06-13 12:48] dbejanishvili commented on #31
Should I create a new issue before starting to work on code or should I just go ahead and open a pull request?

[2020-06-14 16:00] dbejanishvili commented on #36
[onlinegdb](https://www.onlinegdb.com/online_c++_compiler) seems to have compilers that work with functions, some of which rextester doesn't have support for.

[2020-07-05 01:29] weekly-digest[bot] opened #508 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #507 [Added equal_range in Map dir](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/507), by [Subham-Mallick](https://github.com/Subham-Ma

[2020-07-05 15:12] #508 closed

[2020-07-12 01:29] weekly-digest[bot] opened #509 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-07-19 01:29] weekly-digest[bot] opened #510 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #507 [Added equal_range in Map dir](https://github.com/Bhupesh-V/30-second

[2020-07-26 01:29] weekly-digest[bot] opened #511 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-07-26 13:29] weekly-digest[bot] opened #513 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-08-02 06:51] weekly-digest[bot] opened #514 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #512 [Added unordered_set](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/512), by [asifjoardar](https://github.com/asifjoardar)
## NOISY ISSUE
:speaker: #512 [Added unordered_set](https

[2020-08-09 06:51] weekly-digest[bot] opened #515 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*Bhupesh-V/30-seconds-of-cpp*](https://github.com/Bhupesh-V/30-seconds-of-cpp):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there

[2020-08-30 17:32] rakshaa2000 commented on #489
I would like to work on adding Time Complexities of methods in <algorithm>

[2020-09-04 15:35] rachittshah opened #520 "Suggestion/Feedback"
I really liked your idea for learning STLs. I had a suggestion I wanted to work on, I could add the applications of STls in competitive coding,so the repo is more appealing and helpful to other devs/competitive coders

[2020-09-12 11:19] godslayer201 commented on #520
@Bhupesh-V is this possible?

[2020-09-23 17:51] athulsasi commented on #31
Hi Bhupesh Varshney,
I would like to contribute to this issue.

I've locally created .md file with an example code for the new 'contains' in the _unordered_map_ for C++20.
I've followed your coding guideline and also tested my code. I can create a pull request for review.

Could you please allow me write access to create a PR? Thank you for your help in advance.

[2020-09-25 09:42] mouryac9 commented on #36
I would like to work on this issue.

[2020-09-28 20:01] manan288 commented on #489
i would also like to do the same

[2020-09-30 06:33] akrish4 opened #526 "Error in Contributing file 7th line with respect to 8th line."
It is written that in the contributing file to use pre-increment instead of post-increment but in the just above example code in contributing file  "pöst-increment" is used. Kindly update the error in 7th line example.

[2020-10-01 12:13] Harshsngh07 commented on #489
Would like to work on the issue.

[2020-10-01 12:13] Harshsngh07 commented on #448
Would like to work on the issue.

[2020-10-01 14:44] yyyoungha opened #551 "Bug: typo on vector/README.md"
**Describe the bug**
The 'Vector' page link on vector/README.md does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '<a href=https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/vector/>vector</a>'
2. Scroll down and Click on '✔️ Vector'
3. See error (404 Not found)

**Expected behavior**
Link to correct <a href=https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/maste

[2020-10-01 15:35] shreyamodi1999 commented on #551
Hey! If this issue is open then can I work on this?

[2020-10-01 17:27] yyyoungha commented on #551
I'm already working on it. Check my pull request [here](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/552).
Thank you for your consideration. 😄

[2020-10-02 05:56] NinjaKunal commented on #489
Woulid love to work on the issue.

[2020-10-02 23:58] Mikadore opened #565 "State of this project"
22 open issues, some months old. 58 open pull requests. The `README`s do not coincide with existing code/files.
Is this project maintained at all?

[2020-10-03 07:41] #509 closed

[2020-10-03 07:41] #510 closed

[2020-10-03 07:41] #511 closed

[2020-10-03 07:41] #513 closed

[2020-10-03 07:41] #514 closed

[2020-10-03 07:41] #515 closed

[2020-10-04 13:33] AmitBhagat3301 commented on #36
I would also like on work on this issue.

[2020-10-04 18:52] just-tech20 commented on #551
@yyyoungha already fixed issue check #576

[2020-10-05 09:13] yyyoungha commented on #551
I think I fixed this issue first. Check my pull request [here](https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/552).

[2020-10-05 17:21] akankshasonkar17 commented on #31
Hi Bhupesh Varshney,
I just made my first PR for unordered_map 's at function . Please check it out . :)

https://github.com/Bhupesh-V/30-seconds-of-cpp/pull/579

[2020-10-06 06:28] Bhupesh-V commented on #31
Hi @athulsasi you don't need any write access to the repo.
Everything is listed in CONTRIBUTING guidelines on how & what to contribute.

[2020-10-06 06:37] Bhupesh-V commented on #565
Hello, @Mikadore 👋🏽 Thanks for your concern about the state of 30C++.
Sorry for not actively maintaining, I have been equipped with my college life (which is btw over).

The review process will be slow but linear from now on so please be patient if you have contributed before.

Thanks

[2020-10-06 06:37] #565 closed

[2020-10-06 16:53] gpriya32 commented on #489
I would like to work on adding Time Complexities of methods in algorithm

[2020-10-07 05:10] saaiiravi commented on #166
Can I work on this?

[2020-10-07 06:08] Bhupesh-V commented on #166
Yes

[2020-10-07 12:07] saaiiravi commented on #166
Main.yml already exists which does the github action to automate readme on push?

[2020-10-07 14:10] Bhupesh-V commented on #166
The goal is to run `update_readme.py` on at least every merge, but right now the build seems to fail [due to an error](https://github.com/Bhupesh-V/30-seconds-of-cpp/actions/runs/292911936), can you fix that?

[2020-10-10 11:37] Cc618 opened #587 "Duplicated items in unordered_map/README.md"
### Hello !

**Describe the bug**
I noticed that the TODO list in unordered_map/README.md contains duplicated items such as count and find.
One entry is checked while the other is unchecked and might be removed.

**To Reproduce**
Go to [unordered_map/README.md](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/unordered_map/README.md), you will see this \:

:heavy_check_mark: [count]()
:h

[2020-10-10 11:38] Cc618 commented on #587
Can I fix this issue ?

[2020-10-10 13:43] Bhupesh-V opened #588 "Must See for first-time contributors"
### Important Instructions before you send a pull request

1. Please read the [CONTRIBUTING](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/CONTRIBUTING.md) guidelines line-by-line.
2. This is not your typical problem-solving repo, so any PRs about pushing that _library management system_ will be closed straight away. 30C++ is about modern C++ and powerful STL.
3. **DO NOT update any `

[2020-10-10 21:05] Tuntai commented on #587
hi....I have tried working on it. Please do check!

[2020-10-11 08:28] Cc618 commented on #587
Ok that's fine, thank you !

[2020-10-27 11:43] AlexMunozPino commented on #36
Hey! I would like to work on this issue as well

[2020-11-16 08:28] yoiyang opened #608 "Suggestion consider removing linear_search from <algorithm>"
First of all, thank you for this amazing repo! 👍
One small thing: [linear_search](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/algorithm/linear_search.md) does not seem to be a part of the standard.

http://eel.is/c++draft/#algorithms

[2020-11-16 08:32] yoiyang opened #609 "Suggestion: rewrite examples for std::move"
In the [move](https://github.com/Bhupesh-V/30-seconds-of-cpp/blob/master/algorithm/move.md) article, the example does not seem to comply with the function signature of std::move in <algorithm> I found online: https://en.cppreference.com/w/cpp/algorithm/move

[2020-12-05 08:57] destro-2698 opened #612 "Invalid"
**Describe the bug**
in algorithm lexicographical_compare.md, output of the given example in description is wrong;
output should be true and and in description output is given as false;

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'algorithm/lexicographical_compare'
2. Scroll down to explanation of the example
3. See error where result of comparison is written as false;

**Expected

[2021-01-18 07:16] aditi-goyal-257 commented on #36
I would like to contribute, is this issue still open?

[2021-03-19 12:51] anishsingh935 commented on #612
hi I can solve this problem .
so can I contribute

[2021-03-19 12:51] anishsingh935 commented on #612
to this issue

[2021-06-05 20:48] Aokison commented on #31
Hello @Bhupesh-V. I am completely new to open source and would like to contribute to this project, specifically the crend function in the set directory. I really appreciate the opportunity provided for newcomers like me.

[2021-06-06 06:16] Jenniferwyqq commented on #612
Hi, I have some ideas about this issue.
Can I contribute this issue?

[2021-06-10 05:13] kaissaradi opened #630 "Suggestion/Feedback: Update Projects list"
It looks as though many of the projects in the to do list have been completed. I believe may be a useful task to allow users to contribute to.

[2021-08-28 09:20] AryanNayak commented on #36
Hey, can I contribute to the issue?

[2021-10-09 11:32] abhishekd358 commented on #36
Hey, I already Submitted a pull request regarding the  rotate_copy algorithm.Now I want to add heap_sort in algorithm . Can you assign the issue to me ? .

[2021-11-28 14:47] #36 closed

[2021-12-15 12:02] varunbgit commented on #31
@Bhupesh-V I have created a PR please review and suggest changes.
#649

[2022-01-29 22:42] gabriellecannella commented on #483
Working on this!

[2022-06-19 13:43] ayush-pr0 opened #665 "Missing is_sorted() function in algorithm."
Recently I have just checked this repo, I found the is_sorted() function is missing. This is_sorted() function which is related to the Algorithm.  Can I make my first contribution by adding this function?

[2022-09-30 06:58] kgpjay commented on #665
Hi, I am new to this project and want to contribute. Can you please guide me from where should I start.

[2022-10-01 09:48] MukundLadani opened #675 "Bug"
**Feature**
Missing binary_search function's standard code in algorithm directory, in snippets.

[2022-10-01 10:48] deepanshu2810 commented on #31
@Bhupesh-V I would like to work on this one .

[2022-10-01 14:24] Harshvg2021 opened #677 "The information in sort.md is wrong . std::sort() uses introSort , not QuickSort. i would like to update sort.md"

[2022-10-02 08:05] MukundLadani commented on #677
IMO you should add merge sort instead of quicksort here.

[2022-10-02 19:36] Wadiya003 commented on #31
Hi @Bhupesh-V  I would like to give it a try! :)

[2022-10-05 14:17] lAmanl commented on #665
Im new to open source and would like to contribute in this project

[2022-10-06 01:40] Hardik645 opened #684 "Suggestion/Feedback"
I am pulling a request to add distance function that is in algorithm header file

distance (start-iterator, final position)– It returns the distance of desired position from the first iterator.This function               is very useful while finding the index.

Code(c++):

 // C++ program to demonstrate working of distance()

#include <algorithm>

#include <iostream>

#include <vector>

using name

[2022-10-06 06:26] Aatmaj-Zephyr opened #685 "Bug"
**Describe the bug**
README badge link broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Scroll down to third line.
4. See error

**Screenshots**
<img width="134" alt="image" src="https://user-images.githubusercontent.com/83284294/194229683-2b8882f1-80a7-4201-b548-554bebe15fbe.png">

[2022-10-08 14:33] Anshul-9923 commented on #31
Hi @Bhupesh-V Can I contribute to this issue a function to unordered_map?

[2022-10-09 09:06] avishi-bafna commented on #489
I would like to work on this. Can you please assign me this task?

[2022-10-09 12:22] Aanya9693 commented on #31
@Bhupesh-V,Hey! I would like to contribute to this, please assign this to me.

[2022-10-09 13:54] Sayantan19 commented on #665
Hi! I would like to contribute to this project. Could you please assign to me this part?

[2022-10-09 13:57] #665 closed

[2022-10-14 17:32] krishnacx commented on #38
@Bhupesh-V Is this still on ?

[2022-10-16 17:01] Nitya-S27 opened #695 "Update the website and add a new folder"
**Following are some points that can be worked upon**

- The website must be updated from having the data of 2019(even the links in "Why would I learn CPP" are of 2019).

- An additional folder of important interview problems can also be added

[2022-10-22 14:33] SwaggyRajput commented on #675
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 14:34] SwaggyRajput commented on #695
Hello mam, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 14:35] SwaggyRajput commented on #677
Hello sir, can u assign me this issue. I would love to grab this opportunity.